@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    display: none;
}


.background-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden
}

@media screen and (max-width: 768px) {
    .background-wrapper {
        display:none
    }
}

.background-wrapper .background-gradient {
    width: 500px;
    height: 300px;
    border-radius: 50%;
    background-color: #99c7ff;
    background-image: radial-gradient(at 27% 51%, hsl(185, 98%, 65%) 0px,transparent 50%),radial-gradient(at 98% 77%, hsl(226, 100%, 63%) 0px,transparent 50%),radial-gradient(at 82% 52%, hsl(166, 100%, 56%) 0px,transparent 50%),radial-gradient(at 82% 53%, hsl(229, 100%, 42%) 0px,transparent 50%),radial-gradient(at 77% 3%,hsl(46,61%,69%) 0px,transparent 50%),radial-gradient(at 95% 92%,hsl(281,75%,74%) 0px,transparent 50%),radial-gradient(at 22% 75%,hsl(147,98%,71%) 0px,transparent 50%);
    animation: rotate 60s linear infinite;
    z-index: -2
}

@keyframes rotate {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(360deg)
    }
}

.background-wrapper .background-blur-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(100px) brightness(.5);
    z-index: -1
}

.navbar-box {
    background: conic-gradient(from 28deg at 49.16% 17.55%, #002369 27.113927900791168deg, #000b21 44.61772620677948deg, #000 261.1361360549927deg, rgba(255, 0, 230, .36) 304.45014238357544deg);
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s ease;
}

.fade-enter-from,
.fade-leave-to {
    @apply opacity-0;
}

.profile {
    .links {
        i {
            filter: drop-shadow(#FFFFFF 1px 0 7px) !important;
        }
    }

    .rainbow-text {
        background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
        text-align: center;
        background-size: 800% 800%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: rainbow 8s ease infinite;
    }
    
    @keyframes rainbow {
        0% {
            background-position: 0% 50%
        }
    
        50% {
            background-position: 100% 25%
        }
    
        100% {
            background-position: 0% 50%
        }
    }
}

.red-sparkles {
    background-image: url('../images/sparkle_red.gif');
}